<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlashROM is running...</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"
            integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
          integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="res/js/common.js"></script>
</head>
<body>
<div class="ui text container">
    <div class="ui segment">
        <h1 class="ui header">
            FlashROM is working...
        </h1>
        {% if not flashrom_read %}
            <div class="ui horizontal divider">
                Progress
            </div>
            <div class="ui segment" onload="init_progress()">
                <div class="ui active dimmer">
                    <div class="ui text loader" id="progress_indicator">Status unknown, check the log...</div>
                </div>
                <p></p>
            </div>
        {% endif %}

        <div class="ui horizontal divider">
            Log output
        </div>
        {% if flashrom_read %}
            <iframe sandbox width="650px" height="500px" src="/flashrom_log" onload="after_operation(true)">
            </iframe>
        {% else %}
            <iframe sandbox width="650px" height="500px" src="/flashrom_log" onload="after_operation(false);">
            </iframe>
        {% endif %}
    </div>
</div>
</body>
</html>